$background:  #232946;
$headline: #fffffe;
$paragraph: #b8c1ec;
$button: #eebbc3;
$button-text: #232946;
$stroke: #121629;
$main: #4f5da1;
$highlight: #eebbc3;
$secondary: #fffffe;
$tertiary: #eebbc3;